:root {
  --background-color-accent: #fff;
  --contour-color: #000;
  --active-color: #ff0000;
  --animation-fill-color: #ff0000;
  --accent-color: #000;
  --font-accent: "Press Start 2P";
  --font-main: "Inter";
  --wght-bold: 700;
  --wght-norm: 400;
  --font-size-normal: 18px;
  --font-size-small: 14px;
  --background: repeating-linear-gradient(
    to right,
    #d3d3d3,
    #d3d3d3 2px,
    transparent 2px,
    transparent 4px
  ), 
  repeating-linear-gradient(
    to bottom,
    #d3d3d3,
    #d3d3d3 2px,
    transparent 2px,
    transparent 4px
  ),
  linear-gradient(
    to bottom,
    #e7e7e7 0%,
    #e7e7e7 0.01%,
    #1a1a1a 100%
  );
} 